@import './../other/_colours';
@import './../other/_mediaQuery';
.project-container .awards .fa {
  color: $yellow-highlight;
}

.project-container .awards .award {
  margin-left: 5px;
}

.project-container .card-image img {
  @media(max-width: $size-s-max){
    max-height: 280px;
    min-height: 280px;
  }
  @media(min-width: $size-m-min) and (max-width:$size-m-max){
    max-height: 280px;
    min-height: 280px;
  }
  @media(min-width: $size-l-min){
    max-height: 340px;
    min-height: 340px;
  }
}

.project-container .card .card-image .card-title {
  background-color: rgba(0,0,0,0.71);
  width: 100%;
}
.project-container .card {
  border: 3px solid black;
  position: relative;
  background-color: #2a5063;
}
.project-container .card:hover {
  border-color: white;
}

.project-container .card .tag {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 25px;
  cursor: pointer;
  z-index: 10;

  &.tag-work{
    &:hover{
      color: $orange-highlight;
    }
    color: $yellow-highlight;
  }

  &.tag-undergrad{
    &:hover{
      color:$orange-highlight;
    }
  }
  &.tag-personal{
    &:hover{
      color: $orange-highlight;
    }
    color: $blue-highlight;
  }
  &.tag-startup{
    &:hover{
      color: $orange-highlight;
    }
    color:$green-highlight;
  }
  &.tag-hackathon{
    &:hover{
      color: $orange-highlight;
    }
    color:$red-highlight;
  }
}

.project-container .card .tech-chips{
  background-color: rgba(0, 0, 0, 0.25);
  padding: 5px;
  border-radius: 10px;
  i {
    margin-right: 2px;
  }
  .chip:hover i{
    color: $yellow-highlight;
  }
  .chip:hover {
    font-weight: bold;
  }
  .chip {
    margin: 3px;
  }
}

.project-container .card .datetime i{
  margin-right: 5px;
}
.project-container .card .datetime {
  margin-top: 5px;
  margin-bottom: 5px;
}
.project-container .card .text {
  @media (min-width: $size-l-min){
    max-height: 115px;
    height: 115px;
  }
  @media (min-width: $size-m-min) and (max-width:$size-m-max){
    max-height: 100px;
    height: 100px;
  }
  overflow: auto;
}
.project-container .card-content {
  @media(max-width: $size-s-max){
    min-height: 220px;
  }
  @media (min-width: $size-m-min) and (max-width:$size-m-max){
    min-height: 250px;
  }
  @media(min-width: $size-l-min){
    min-height: 270px;
  }
}