@import './../other/_colours';
.social-media-icons .fa-inverse {
  color: black;
}

.social-media-icons{
  display: inline;
  position: relative;
}
.social-media-icons a span{
  &:hover, &:focus, &:active{
    top: -5px;
  }
}

.social-media-icons .fa{
  &:hover, &:focus, &:active{
    color: $red-highlight;
  }
}
